<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if title and title != "Home" %}{{ site.title }} | {{ title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.meta.author }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <meta property="og:title" content="{% if title and title != "Home" %}{{ site.title }} | {{ title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
  {% if noindex %}
    <meta name="robots" content="noindex, nofollow">
  {% else %}
    <meta name="robots" content="index, follow">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">

  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/cv.css" />
</head>
<body>
  <div class="layout">
    <main>
      {% block content %}{{ content | safe }}{% endblock %}
    </main>
  </div>
</body>
</html>
