/* COMMON */

:root {
  --neutral-1: #FFF;
  --neutral-2: #EEE;
  --neutral-3: #666;
  --neutral-4: #000;

  --bg: var(--neutral-1);
  --code-bg: var(--neutral-2);
  --text-secondary: var(--neutral-3);
  --text-primary: var(--neutral-4);

  --link: #06F;
  --link-hover: #39F;
  --line: 1px;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-serif: Georgia, Times, "Times New Roman", serif;
  --font-mono: Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--neutral-4);
    --code-bg: var(--neutral-3);
    --text-secondary: var(--neutral-2);
    --text-primary: var(--neutral-1);
  }
}

/* Manual override */
:root[data-theme="light"] {
  --bg: var(--neutral-1) !important;
  --code-bg: var(--neutral-2) !important;
  --text-secondary: var(--neutral-3) !important;
  --text-primary: var(--neutral-4) !important;
}

:root[data-theme="dark"] {
  --bg: var(--neutral-4) !important;
  --code-bg: var(--neutral-3) !important;
  --text-secondary: var(--neutral-2) !important;
  --text-primary: var(--neutral-1) !important;
}

html {
  background-color: var(--bg);
  color: var(--text-primary);
  font-size: 16px; /* defines rem */
  scroll-behavior: smooth;
  line-height: 1.5rem;
}

body {
  background: var(--bg);
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 350px; /* less than this breaks the design */
  height: max-content;
  font-family: var(--font-sans);
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}

.header-anchor {
  display: none;
}

button, .button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: var(--line) solid var(--text-primary);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--text-primary);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: calc(2 * var(--line)) calc(2 * var(--line)) 0 0 var(--bg), calc(3 * var(--line)) calc(3 * var(--line)) 0 0 var(--text-primary);
}
button:hover, .button:hover {
  text-decoration: none;
  color: var(--bg);
  background-color: var(--text-primary);
}
button:active, .button:active {
  transform: translate(2px, 2px);
  box-shadow: calc(-2 * var(--line)) calc(-2 * var(--line)) 0 0 var(--bg), calc(-3 * var(--line)) calc(-3 * var(--line)) 0 0 var(--text-primary);
}

ul {
  list-style: square;
  padding-left: 1rem;
}
hr {
  color: var(--text-secondary);
}

blockquote {
  color: var(--text-secondary);
}

/* TOP */

.title { /* TITLE BAR */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.title li {
  border-bottom: var(--line) solid var(--text-primary);
  border-left: var(--line) solid var(--text-primary);
}
.title li:first-child {
  width: 100%;
  border-left: none;
}
.title a {
  line-height: 1.2rem;
  padding: 0.5rem 1rem;
  align-content: center;
  color: var(--text-primary);
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
}
.title li:hover, .title li:hover a {
  color: var(--bg);
  background-color: var(--text-primary);
}
.title li:first-child:hover, .title li:first-child:hover a {
  color: var(--text-primary);
  background-color: var(--bg);
}

.tab-nav { /* TABS */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.tab-nav li {
  width: 100%;
  border-bottom: var(--line) solid var(--text-primary);
  border-left: var(--line) solid var(--text-primary);
}
.tab-nav li:first-child {
  border-left: none;
}
.tab-nav a {
  padding: 1rem 0;
  align-content: center;
  text-align: center;
  color: var(--text-primary);
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
.tab-nav li.active {
  border-bottom: none;
}
.tab-nav li:hover, .tab-nav li:hover a {
  color: var(--bg);
  background-color: var(--text-primary);
}


/* MIDDLE */

main {
  padding: 2rem;
  flex-grow: 1;
  padding-bottom: 25vh;
}
main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
main code {
  background-color: var(--code-bg);
  padding: 0.25rem 0.5rem;
}
.main-content p, .main-content ul, .main-content ol {
  line-height: 1.75;
}
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 2rem;
  line-height: 1;
  margin: 2rem 0 1rem 0;
}
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: 0.5rem; }

hr {
  border: 0px;
  border-top: var(--line) solid var(--text-primary);
  margin: 4rem calc(50% - 4rem);
}

.optimised-image {
  margin: 0;
}
.image-caption {
  margin-top: 0.5rem;
  display: block;
  text-align: center;
  color: var(--text-secondary);
  font-size: 0.75rem;
  font-style: italic;
}









.project-title {
  text-align: center;
  margin: 0;
}
.project-title .header, .post-title .header {
  margin-bottom: 4rem;
}
.prototype-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.project-overview {
  border: var(--line) solid var(--text-primary);
}
.project-overview-title {
  padding: 2rem 2rem;
  margin: 0;
}
.project-overview .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: var(--line) solid var(--text-primary);
  line-height: 1.75;
}
.project-overview .content .main {
  flex: 2;
  padding: 1rem 2rem;
  margin: 0;
}
.project-overview .content .details {
  border-top: var(--line) solid var(--text-primary);
  flex: 1;
  padding: 1rem 2rem;
  margin: 0;
}


.toc {
  margin-top: 2rem;
}
.toc::before {
  content: "Contents";
}
.toc ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.toc ul ul {
  padding-left: 1rem;
}
.toc ul ul ul {
  padding-left: 1rem;
}
.toc li a {
  line-height: 1.5;
  font-size: 0.75rem;
  color: var(--text-secondary);
  padding: 0.25rem 0;
  display: block;
  max-width: 100%;
}



.content-nav {
  padding: 0;
  margin: 0;
  margin-top: 4rem;
  display: flex;
}
.content-nav a {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-primary);
  border: var(--line) solid var(--text-primary);
  border-left: none;
}
.content-nav a:first-child {
  border-left: var(--line) solid var(--text-primary);
}
.content-nav .label {
  font-size: 0.75rem;
  color: var(--text-secondary);
  display: block;
  white-space: nowrap;
  margin: auto 0;
}
.content-nav .title {
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}






.content-grid, .content-grid-2col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
}
.content-project {
  color: var(--text-primary);
  background-color: var(--bg);
  text-decoration: none;
  flex: 1 1 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  box-sizing: border-box;
  border: var(--line) solid var(--text-primary);
  overflow: hidden;
}
.content-post {
  display: flex;
  flex-direction: row;
  border: var(--line) solid var(--text-primary);
  background-color: var(--bg);
  color: var(--text-primary);
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.content-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}
.border-top {
  border-top: var(--line) solid var(--text-primary);
}
.content-title {
  margin: 0;
  padding: 1rem 1rem 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-subtitle {
  margin: 0;
  padding: 0 1rem 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-date {
  text-align: right;
  margin: 0 1rem 1rem 1rem;
  font-size: 0.75rem;
  color: var(--text-secondary);
}
.center {
  text-align: center;
}
.left {
  text-align: left;
  margin: 0;
}
.content-image-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-post .content-image-container {
  height: 7.5rem;
  width: calc(7.5rem * 16 / 9);
  display: none;
}
.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content-post:hover, .content-project:hover {
  color: var(--bg);
  background-color: var(--text-primary);
  text-decoration: none;
}


.interactive {
  cursor: pointer;
}




.align-right {
  text-align: right;
  padding: 2rem 0;
}



.error-404 {
  text-align: center;
}
.error-404 p {
  margin-bottom: 2rem;
}






/* BOTTOM */

footer {
  border-top: var(--line) solid var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer p {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.co2 {
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: var(--text-primary);
}
.co2 .content {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.co2 .tooltip {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background: var(--bg);
  color: var(--text-primary);
  font-size: 0.75rem;
  text-align: left;
  border: var(--line) solid var(--text-primary);
  padding: 0.25rem 0.5rem;
}
.co2:hover .tooltip {
  visibility: visible;
}



/* Media overrides */
@media (min-width: 800px) { /* Tablet styles */
  body {
    width: calc(100vw - 4rem);
    margin: 0 auto;
    border-left: var(--line) solid var(--text-primary);
    border-right: var(--line) solid var(--text-primary);
  }
  /* .content-nav a {
    flex-direction: row;
  } */
  .project-overview .content {
    flex-direction: row;
  }
  .project-overview .content .details {
    border-top: none;
    border-left: var(--line) solid var(--text-primary);
  }
  .border-right{
    border-right: var(--line) solid var(--text-primary);
  }
  .content-post .content-image-container {
    display: block;
  }
  footer {
    flex-direction: row;
  }
  footer p {
    width: auto;
    text-align: left;
    padding: 0.5rem 2rem;
  }
}
@media (min-width: 1600px) { /* wide screen styles */
  .toc {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: calc(100vw - (100vw - 1200px) / 2);
    height: 100%;
    align-content: center;
  }
}






/* DEBUG */

none {
  background-color: rgba(255, 0, 0, .2);
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

